.modal {
  padding: 1rem;
  background-color: #555;

  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  transition: 500ms ease-in-out;
}

.hidden {
  top: 100vh;
  transform: translate(-50%, 0%);
}
