.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 5rem 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.hidden {
  display: none;
}

.modal {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;

  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 1.5rem;
  margin-block: 1rem;
}

.btn-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 1rem;
}
